<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Dashboard{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="sidebar">
        <h2>Menu</h2>
        <a href="{% url 'home' %}"><i class="fas fa-home"></i>Início</a>
        <a href="#"><i class="fas fa-user-friends"></i>Turmas</a>
        <a href="#"><i class="fas fa-check-circle"></i>Frequência</a>
        <h2>Área Administrativa</h2>
        <a href="{% url 'upload_turma' %}"><i class="fas fa-upload"></i>Upload de Turmas</a>
        <a href="#"><i class="fas fa-users"></i>Usuários</a>
        <a href="#"><i class="fas fa-folder"></i>Documentos</a>
        <h2>Área Financeira</h2>
        <a href="#"><i class="fas fa-wallet"></i>Pagamentos</a>
        <a href="#"><i class="fas fa-chart-line"></i>Relatórios</a>
    </div>

    <div class="main-content">
        <div class="header">
            <h1>{% block title %}Dashboard{% endblock %}</h1>
            <div class="icons">
                <i class="fas fa-bell"></i>
                <i class="fas fa-question-circle"></i>
                <div class="dropdown">
                    <i class="fas fa-user"></i>
                    <div class="dropdown-content">
                        <a href="#">Configurações</a>
                        <a href="{% url 'logout' %}">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            {% block content %}
            <h1>Bem-vindo ao Sistema de Frequência!</h1>
            <p>Esta é a sua área de trabalho. Aqui você pode acompanhar o status das turmas, visualizar a frequência dos alunos e muito mais.</p>
            {% endblock %}
        </div>
    </div>
</body>
</html>
